<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu_table_view</key>
	<dict>
		<key>table_property</key>
		<dict>
			<key>selection_style</key>
			<integer>0</integer>
			<key>cell_enabled</key>
			<true/>
		</dict>
		<key>section_array</key>
		<array>
			<dict>
				<key>section_property</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>Home</string>
				</dict>
				<key>cell_array</key>
				<array>
					<dict>
						<key>normal_bg_color</key>
						<string>255,0,0,1</string>
						<key>select_bg_color</key>
						<string>0,255,0,1</string>
						<key>content</key>
						<string>Home</string>
						<key>image</key>
						<string>menu_home.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>section_property</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>File manager</string>
				</dict>
				<key>cell_array</key>
				<array>
					<dict>
						<key>normal_bg_color</key>
						<string>255,0,0,1</string>
						<key>select_bg_color</key>
						<string>0,255,0,1</string>
						<key>content</key>
						<string>File manager</string>
						<key>image</key>
						<string>menu_file.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>section_property</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>System setting</string>
				</dict>
				<key>cell_array</key>
				<array>
					<dict>
						<key>content</key>
						<string>System setting</string>
						<key>image</key>
						<string>menu_setting.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>section_property</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>Private custom</string>
				</dict>
				<key>cell_array</key>
				<array>
					<dict>
						<key>content</key>
						<string>Private custom</string>
						<key>image</key>
						<string>menu_private.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>section_property</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>About us</string>
				</dict>
				<key>cell_array</key>
				<array>
					<dict>
						<key>content</key>
						<string>About us</string>
						<key>image</key>
						<string>menu_about.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>暂时不用的结构</key>
	<dict>
		<key>之前的设置</key>
		<dict>
			<key>section_property</key>
			<dict>
				<key>enabled</key>
				<true/>
				<key>title</key>
				<string>设置</string>
			</dict>
			<key>cell_array</key>
			<array>
				<dict>
					<key>content</key>
					<string>系统设置</string>
				</dict>
				<dict>
					<key>content</key>
					<string>文件管理设置</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
