<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skin_default</key>
	<dict>
		<key>skin_set_image</key>
		<dict>
			<key>skin_image_home_phone</key>
			<dict>
				<key>describe</key>
				<string>首页的话筒</string>
				<key>image</key>
				<string>microphone.png</string>
			</dict>
			<key>skin_image_home_menu</key>
			<dict>
				<key>describe</key>
				<string>首页主菜单按钮</string>
				<key>image</key>
				<string>home_menu.png</string>
			</dict>
			<key>skin_image_play_play</key>
			<dict>
				<key>describe</key>
				<string>播放按钮</string>
				<key>image</key>
				<string>play_control_play.png</string>
			</dict>
			<key>skin_image_play_next</key>
			<dict>
				<key>describe</key>
				<string>首页的话筒</string>
				<key>image</key>
				<string>play_control_next.png</string>
			</dict>
			<key>skin_image_play_pause</key>
			<dict>
				<key>describe</key>
				<string>首页的话筒</string>
				<key>image</key>
				<string>play_control_pause.png</string>
			</dict>
			<key>skin_image_play_pre</key>
			<dict>
				<key>describe</key>
				<string>首页的话筒</string>
				<key>image</key>
				<string>play_control_pre.png</string>
			</dict>
			<key>skin_image_addplan_repeat_sec</key>
			<dict>
				<key>describe</key>
				<string>重复界面列表选中状态标识skin_image_cell_indicator</string>
				<key>image</key>
				<string>add_plan_repeat_selected.png</string>
			</dict>
			<key>skin_image_check_box_normal</key>
			<dict>
				<key>describe</key>
				<string>多选框正常状态</string>
				<key>image</key>
				<string>checkbox_off.png</string>
			</dict>
			<key>skin_image_check_box_sec</key>
			<dict>
				<key>describe</key>
				<string>多选框选中状态</string>
				<key>image</key>
				<string>checkbox_on.png</string>
			</dict>
			<key>skin_image_cell_indicator</key>
			<dict>
				<key>describe</key>
				<string>列表cell的向右的小箭头（表示有点击功能项）</string>
				<key>image</key>
				<string>cell_accessory_indicator.png</string>
			</dict>
			<key>skin_image_btn_green_circle_sec</key>
			<dict>
				<key>describe</key>
				<string>首页绿色圆圈按钮选中状态</string>
				<key>image</key>
				<string>button_circle_green_sec.png</string>
			</dict>
			<key>skin_image_btn_green_circle_btn</key>
			<dict>
				<key>describe</key>
				<string>首页绿色圆圈按钮正常状态</string>
				<key>image</key>
				<string>button_circle_green.png</string>
			</dict>
			<key>skin_image_btn_red_circle_sec</key>
			<dict>
				<key>describe</key>
				<string>首页红色圆圈按钮选中状态</string>
				<key>image</key>
				<string>button_circle_red_sec.png</string>
			</dict>
			<key>skin_image_btn_red_circle_btn</key>
			<dict>
				<key>describe</key>
				<string>首页红色圆圈按钮正常状态</string>
				<key>image</key>
				<string>button_circle_red.png</string>
			</dict>
			<key>skin_image_btn_gray_circle</key>
			<dict>
				<key>describe</key>
				<string>首页灰色圆圈按钮正常状态</string>
				<key>image</key>
				<string>button_circle_gray.png</string>
			</dict>
			<key>skin_image_scrubber_knob</key>
			<dict>
				<key>describe</key>
				<string>进度条滑动小圆球</string>
				<key>image</key>
				<string>slider_scrubber_knob.png</string>
			</dict>
			<key>skin_image_scrubber_left</key>
			<dict>
				<key>describe</key>
				<string>进度条正常</string>
				<key>image</key>
				<string>slider_scrubber_left.png</string>
			</dict>
			<key>skin_image_scrubber_right</key>
			<dict>
				<key>describe</key>
				<string>进度条滑过</string>
				<key>image</key>
				<string>slider_scrubber_right.png</string>
			</dict>
			<key>skin_image_system_setting_cell_bg</key>
			<dict>
				<key>describe</key>
				<string>系统设置而单个cell背景</string>
				<key>image</key>
				<string>system_setting_cell_bg.png</string>
			</dict>
		</dict>
		<key>skin_set_color</key>
		<dict>
			<key>skin_color_def_white</key>
			<dict>
				<key>describe</key>
				<string>自定义白色</string>
				<key>color</key>
				<string>255,255,255,1</string>
			</dict>
			<key>skin_color_def_black</key>
			<dict>
				<key>describe</key>
				<string>自定义黑色</string>
				<key>color</key>
				<string>0,0,0,1</string>
			</dict>
			<key>skin_color_def_gray</key>
			<dict>
				<key>describe</key>
				<string>自定义灰色</string>
				<key>color</key>
				<string>194,204,208,1</string>
			</dict>
			<key>skin_color_def_blue</key>
			<dict>
				<key>describe</key>
				<string>自定义蓝色</string>
				<key>color</key>
				<string>0,0,255,1</string>
			</dict>
			<key>skin_color_home_bg</key>
			<dict>
				<key>describe</key>
				<string>首页背景色</string>
				<key>color</key>
				<string>25,37,52,1</string>
			</dict>
			<key>skin_color_table_label</key>
			<dict>
				<key>describe</key>
				<string>列表标签颜色</string>
				<key>color</key>
				<string>58,55,54,1</string>
			</dict>
			<key>skin_color_drop_bg</key>
			<dict>
				<key>describe</key>
				<string>下拉控件背景色</string>
				<key>color</key>
				<string>65,121,153,1</string>
			</dict>
			<key>skin_color_drop_cell_bg</key>
			<dict>
				<key>describe</key>
				<string>下拉控件单元背景色</string>
				<key>color</key>
				<string>127,129,131,1</string>
			</dict>
			<key>skin_color_def_btn_green</key>
			<dict>
				<key>describe</key>
				<string>自定义按钮标签绿</string>
				<key>color</key>
				<string>76,217,100,1</string>
			</dict>
			<key>skin_color_def_btn_dark_green</key>
			<dict>
				<key>describe</key>
				<string>自定义按钮标签暗绿</string>
				<key>color</key>
				<string>40,115,53,1</string>
			</dict>
			<key>skin_color_def_btn_red</key>
			<dict>
				<key>describe</key>
				<string>自定义按钮标签红</string>
				<key>color</key>
				<string>255,59,48,1</string>
			</dict>
			<key>skin_color_def_btn_dark_red</key>
			<dict>
				<key>describe</key>
				<string>自定义按钮标签暗红</string>
				<key>color</key>
				<string>136,31,25,1</string>
			</dict>
			<key>skin_color_def_btn_gray</key>
			<dict>
				<key>describe</key>
				<string>自定义按钮标签灰</string>
				<key>color</key>
				<string>169,168,171,1</string>
			</dict>
			<key>skin_color_def_top_view</key>
			<dict>
				<key>describe</key>
				<string>页面头部颜色</string>
				<key>color</key>
				<string>244,244,242,1</string>
			</dict>
			<key>skin_color_def_view_bg</key>
			<dict>
				<key>describe</key>
				<string>页面主背景色</string>
				<key>color</key>
				<string>226,225,220,1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
